#V1 {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "Lucida Console";
  color: #ffffff;
}

#texto {
  font-size: 25px;
  margin-bottom: 20px;
}

#Op {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

#Cajita1 {
  margin-right: 20px;
  font-family: "Roboto";
  font-size: 18px;
  border-radius: 10px;
  padding: 5px;
}

#Cajita2 {
  margin-left: 20px;
  font-family: "Roboto";
  font-size: 18px;
  border-radius: 10px;
  padding: 5px;
}

#myButton {
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color: #768d87;
  border-radius: 5px;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Arial";
  font-size: 15px;
  font-weight: bold;
  padding: 11px 23px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
}
#myButton:hover {
  background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color: #6c7c7c;
}
#myButton:active {
  position: relative;
  top: 1px;
}
